@import 'primeicons/primeicons.css';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.icon {
  font-size: 1.2rem;
  color: #000;
  font-weight: normal;
}

.btn {
  outline: none;
  background-color: #0074bf;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 150px;
  height: 40px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}
