$color-gray-1: #676767;
$color-gray-2: #6d6d6d;
$color-gray-3: #dfdfdf;
$color-gray-4: #ebebeb;
$color-gray-5: #555;
$color-gray-6: #d0d0d0;
$color-white-1: #f9f8f8;
$color-white-2: #fcfcfc;
$color-purple-1: #f4f2fc;
$bg-primary: #0074bf;
